<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Home page</title>
</head>
<body>

	<section>

		<div class="card mr-3">

			<div class="card-body">

				<h1 class="text-center">Add Contact</h1>

				<div class="container-fluid mt-1">

					<div class="row">

						<div class="col-md-8 offset-md-2">

							<form action="#" th:object="${contact}"
								enctype="multipart/form-data" method="POST"
								th:action="@{/user/process-contact}" class="mt-2">

								<!-- first name -->

								<div class="input-group">

									<div class="input-group-prepend">

										<div class="input-group-text">

											<i class="fa fa-plus"></i>
										</div>

									</div>

									<input type="text" id="firstname" name="Name"
										placeholder="Enter name Here" class="form-control">

								</div>

								<!-- second name -->

								<div class="input-group mt-3">

									<div class="input-group-prepend">

										<div class="input-group-text">

											<i class="fa fa-user-alt"></i>
										</div>

									</div>

									<input type="text" id="Secondname" name="Secondname"
										placeholder="Enter nick name Here" class="form-control">

								</div>

								<!-- Email -->

								<div class="input-group mt-3">

									<div class="input-group-prepend">

										<div class="input-group-text">@</div>

									</div>

									<input type="email" id="email" name="Email"
										placeholder="Enter Your email Here" class="form-control">

								</div>

								<!-- Phone no -->

								<div class="input-group mt-3">

									<div class="input-group-prepend">

										<div class="input-group-text">

											<i class="fa fa-phone"></i>

										</div>

									</div>

									<input type="number" id="phone" name="Phone"
										placeholder="Enter Phone no Here" class="form-control">

								</div>

								<!-- Work -->

								<div class="input-group mt-3">

									<div class="input-group-prepend">

										<div class="input-group-text">

											<i class="fa fa-briefcase"></i>

										</div>

									</div>

									<input type="text" id="work" name="Work"
										placeholder="Enter your work Here" class="form-control">

								</div>

								<!-- Contact Description -->

								<div class="form-group mt-3">

									<textarea id="mytextarea" rows="10" name="Description" 
										class="form-control" placeholder="Enter Contact Description"></textarea>

								</div>

								<!-- contact image -->

								<div class="custom-file">

									<input type="file" name="profileImage">

								</div>

								<div class="container text-center">

									<button class="btn btn-outline-primary">Save Contact</button>

								</div>

							</form>

						</div>
					</div>

				</div>
			</div>
		</div>

		<script
			src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js"
			referrerpolicy="origin">
		</script>

		<script>
			tinymce.init({
				selector : '#mytextarea'
			});
		</script>

	</section>

</body>
</html>